@import "tailwindcss";

@layer base {
  h1 {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
    font-weight: 400;
    /* font-normal */
  }

  h2 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    font-weight: 400;
    /* font-normal */
  }

  h3 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-weight: 600;
    /* font-semibold */
  }

  h4 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-weight: 500;
    /* font-medium */
  }

  progress {
    border-radius: 4px;
    width: 100%;
    height: 2px;
  }

  progress::-webkit-progress-bar {
    background-color: #e1e1e1;
  }

  progress::-webkit-progress-value {
    background-color: #383838;
  }

  progress::-moz-progress-bar {
    background: #383838;
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-horizontal::-webkit-scrollbar {
    height: 4px;
  }

  .scrollbar-horizontal::-webkit-scrollbar-thumb,
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #a9a8aa;
  }

  .scrollbar-horizontal::-webkit-scrollbar-track,
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: #e1e1e1;
    margin-bottom: 8px;
  }

  .product-scrollbar::-webkit-scrollbar-track {
    border-radius: 9999px;
    background-color: #e1e1e1;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .product-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }

  .product-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #a9a8aa;
  }

  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb::-webkit-slider-thumb {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #a9a8aa;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
    transition: transform 0.2s ease-in-out;
  }

  .thumb::-webkit-slider-thumb:hover {
    border: 1px solid #0a0a0a;
  }

  .thumb::-webkit-slider-thumb:active {
    outline-width: 4px;
    outline-color: #38383833;
    outline-style: solid;
  }

  .thumb::-moz-range-thumb {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #a9a8aa;
    height: 20px;
    width: 20px;
    pointer-events: all;
    position: relative;
  }
}

@layer components {
  .body {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-weight: 400;
    /* font-normal */
  }

  .label {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
    font-weight: 400;
    /* font-normal */
  }

  .h4 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-weight: 500;
    /* font-medium */
  }
}

@theme default {
  /* placeholder */
  --color-placeholder: #a9a8aa;

  --color-disabled: #a9a8aa;

  --color-stroke: #e1e1e1;
  --color-hovered: #f9fafb;

  --color-primary: #242424;
  --color-primary-hover: #383838;
  --color-primary-outline: #38383833;

  /* text-secondary */
  --color-secondary: #555555;
  /* bg-secondary */
  --color-secondary-bg: #1e1e1e;

  --color-combobox-item: #f8f8f8;

  --color-destructive: #f14141;
  --color-destructive-disabled: #fac0c0;
  --color-destructive-hovered: #d93a3a;
  --color-destructive-outline: #d93a3a33;
  --color-destructive-icon-hover: #802a2a;

  /* essential colors */
  --color-essential-green: #279f51;
  --color-essential-orange: #ffa000;
  --color-essential-blue: #2f80ed;
  --color-essential-red: #ff392b;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
