@import "@sellify/tailwind-config/styles";
@source "../**/*.{ts,tsx}";

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb::-webkit-slider-thumb {
  background-color: #0a0a0a;
  border-radius: 50%;
  /* border: 4px solid #ff0303; */
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.thumb::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.thumb::-moz-range-thumb {
  background-color: #0a0a0a;
  border-radius: 50%;
  /* border: 4px solid #ff0303; */
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
}
