@import "@sellify/tailwind-config/styles";
@source "../**/*.{ts,tsx}";

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb::-webkit-slider-thumb {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #a9a8aa;
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.thumb::-webkit-slider-thumb:hover {
  border: 1px solid #0a0a0a;
}

.thumb::-webkit-slider-thumb:active {
  outline-width: 4px;
  outline-color: rgb(36,36,36,0.2);
  outline-style: solid;
}

.thumb::-moz-range-thumb {
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #a9a8aa;
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
}