@import "@sellify/tailwind-config/styles";
@import "@sellify/common-icons/styles";
@import "@sellify/common-ui-components/styles";
@import "@sellify/customer-ui-components/styles";

html {
  font-family: var(--font-body-family);
}

h1 {
  font-family: var(--font-heading-family);
}

.title {
  font-family: var(--font-heading-family);
}

.tab_header {
  font-family: var(--font-heading-family-medium);
}

/* .menu_drawer {
  font-family: var(--font-body-family);
} */
